@import './variables.scss';

.vue-navbar-dropdown-container {
  position: absolute;
  right: 0;
  height: 0px;
  padding: 0;
  
  overflow: hidden;
  transition: all 0.5s ease;
  transition-property: opacity, padding;
  opacity: 0;
  z-index: 2;
}

.vue-navbar-link-container:hover .vue-navbar-dropdown-container, .vue-navbar-dropdown-container:hover {
  height: auto;
  padding: 1em;
  opacity: 1;
}

.vue-navbar-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0.1em;
  padding: 1em;
  border-radius: 5px;
  position: relative;
}
