@import './variables.scss';

/* General */
p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
.clickable {
  cursor: pointer;
}
.light-text {
  color: $light;
}
.dark-text {
  color: $dark;
}
.light-background {
  background-color: $light;
}
.dark-background {
  background-color: $dark;
}
.box-shadow {
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.4);
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.4);
}
